@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-indicator {
  0% { opacity: 0; transform: translateY(-4px); }
  10% { opacity: 1; transform: translateY(0); }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.move-indicator {
  animation: move-indicator 2s ease-out forwards;
}
